.code-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  margin: 20px;
  background-color: black;
  width: 50%;
  z-index: 999;
  right: 0;
  max-width: 720px;
  align-items: flex-start;
  justify-content: flex-start;

  .editor-intro{
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fcfcfc;
    padding: 10px;
  }

  .sidebar{
    resize: none;
  }
}
